:root {
    --MC: #E7021D;
    --WC: #fff;
    --BC: #333;
    --BBC: #000;

    --LC: #ddd;
    --BackC: #f7f7f7;
}


html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}



#header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;

}

#header.on {
    background: var(--WC);
}

#header .hd_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header h1 a {
    display: block;
    width: 110px;
    height: 70px;
    background: url(../images/logo_w.png);
}

#header.on h1 a {
    background: url(../images/logo.png);
}

#header .gnb>ul {
    display: flex;
    gap: 8rem;
}

#header a {
    white-space: nowrap;
}

#header .gnb>ul>li>a {
    display: block;
    font-size: 1.8rem;
    line-height: 12rem;
    color: var(--WC);
    transition: line-height 0.4s;
}

#header.on .gnb>ul>li>a {
    line-height: 10rem;
    color: var(--BC);
}

#header .gnb>ul>li {
    position: relative;
}



#header.on .gnb>ul>li>a {
    line-height: 8rem;
    color: var(--body-color);
}


#header .gnb>ul>li ul {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);

    background: var(--WC);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    padding: 1.6rem 0;

    opacity: 0;
    visibility: hidden;
    transition: 0.4s;

}

#header .gnb>ul>li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 12px);
}



#header .gnb>ul>li ul a {
    position: relative;
    display: block;
    line-height: 4rem;
    padding: 0 4rem;
    text-align: center;
}

#header .utils {
    display: flex;
    gap: 2.4rem;
}

#header .utils a {
    color: var(--WC);
    position: relative;
}

#header .utils a~a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -13px;
    width: 2px;
    height: 2px;
    transform: translate(0, -50%);
    background: var(--WC);
}

#header.on .utils a~a::before {
    background: var(--BC);
}

#header.on .utils a {
    color: var(--BC);
}


.main_visual {
    position: relative;
}

.main_visual .main_visual_slide .itm {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.main_visual .main_visual_slide .itm .bg {
    position: absolute;
    inset: 0 0 0 0;
}

.main_visual .main_visual_slide .itm01 .bg {
    background: url(../images/main_visual.png)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm02 .bg {
    background: url(../images/main_visual02.png)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm03 .bg {
    background: url(../images/main_visual03.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm04 .bg {
    background: url(../images/main_visual05.jpg)no-repeat center center/cover;
}

.main_visual .main_visual_slide .itm05 video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    vertical-align: top;
}



.main_visual .page {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 56px;
    z-index: 999;
}

.main_visual .page span {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    transition: 0.4s;
    background: var(--WC);
}


.main_visual .page span.swiper-pagination-bullet-active {
    width: 80px;
    background: var(--MC);
}

.main_visual .arrows {
    position: absolute;
    z-index: 2;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 1680px;
    width: calc(100% + 100px);
}

.main_visual .arrows button {
    position: absolute;
    top: 0;
    transform: translate(0, -50%);

}

.main_visual .arrows .prev {
    left: 0;
}

.main_visual .arrows .next {
    right: 0;
}

.main_visual .wheel {
    position: absolute;
    left: 50%;
    bottom: 15px;
    z-index: 2;
    transform: translate(-50%, 0);
}



.main_info .swiper-wrapper {
    transition-timing-function: linear;
}

.main_info .slide_wrap .itm img {
    transform: scale(1);
    transition: 0.4s;
}

.main_info .slide_wrap .itm img:hover {
    transform: scale(1.1);
}


.main_info .slide_wrap .itm strong {
    display: block;
    text-align: center;
    margin-top: 16px;
    font-weight: 600;
}


.main_houses {
    position: relative;
    padding: 160px 0;
    background: url(../images/main_news02.jpg)no-repeat center center/cover;
}

.main_houses::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: #000;
    opacity: 0.5;
}

.main_houses .title {
    position: relative;
    margin-bottom: 0;

}

.main_houses .title h2 {
    color: #fff;

}

.main_houses .title p {
    margin-bottom: 48px;
    color: #fff;
}

.main_content .main_content_slide .itm figure {
    overflow: hidden;
    margin-bottom: 2.4rem;
    margin-top: 1.6rem;
}

.main_content .main_content_slide .itm img {
    height: 330px;
    width: 100%;
    object-fit: cover;
}

.main_content .main_content_slide .itm p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.main_content .main_content_slide .itm strong {
    display: block;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 2.4rem;
    margin-top: 1.6rem;
    margin-bottom: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main_content .main_content_slide .swiper-scrollbar {
    margin-top: 400px;
}



#footer {
    padding: 64px 0 240px 0;
    background: #000;
}

#footer .inner {
    display: flex;
    color: var(--LC);
    flex-direction: column;
    align-items: center;
    white-space: nowrap;

}

#footer .customer {
    display: flex;
    gap: 24px;
    margin-top: 16px;
    position: relative;
}

#footer .inner a {
    margin-top: 40px;
}

#footer .customer .aaa {
    font-weight: 600;
    color: var(--WC);
}

#footer .customer li {
    position: relative;
}

#footer .customer li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translate(0, -50%);
    width: 1px;
    height: 0.5em;
    background: var(--BackC);
}

#footer .inner>a img {
    margin-bottom: 40px;
}

#footer p {
    display: flex;
    gap: 16px;
    font-size: 14px;
    line-height: 24px;
    white-space: nowrap;
}

#footer .bbg {}

#footer address {
    margin-top: 36px;
    font-size: 12px;
    color: #979797;
}

.to_top {
    position: fixed;
    bottom: 160px;
    right: -80px;
    z-index: 999;

    width: 48px;
    height: 48px;
    background: var(--MC);

    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.to_top.on {
    opacity: 1;
    visibility: visible;
    right: 160px;
}
